<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= "#{@user.name}さんの情報" %>  <!-- ユーザーの名前 -->
      </h2>
      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">名前</th>
            <td class="table__col2"><%= @user.name %></td>  <!-- ユーザー名 -->
          </tr>
          <tr>
            <th class="table__col1">プロフィール</th>
            <td class="table__col2"><%= @user.profile %></td>  <!-- ユーザーのプロフィール -->
          </tr>
          <tr>
            <th class="table__col1">所属</th>
            <td class="table__col2"><%= @user.occupation %></td>  <!-- ユーザーの所属 -->
          </tr>
          <tr>
            <th class="table__col1">役職</th>
            <td class="table__col2"><%= @user.position %></td>  <!-- ユーザーの役職 -->
          </tr>
        </tbody>
      </table>

      <h2 class="page-heading">
        <%= "#{@user.name}さんのプロトタイプ" %>  <!-- ユーザーのプロトタイプ -->
      </h2>
      <div class="user__card">
        <% @user.prototypes.each do |prototype| %>  <!-- ユーザーの各プロトタイプを表示 -->
          <div class="prototype-card">
               <%# プロトタイプ画像をクリックして詳細ページに遷移できるようにリンクを追加 %>
            <%= link_to prototype_path(prototype) do %>
              <%= image_tag prototype.image if prototype.image.attached? %>  <!-- 画像を表示 -->
            <% end %>
            <h3><%= prototype.title %></h3>
            <p><%= prototype.catch_copy %></p>
            <p>by 
  <% if prototype.user.present? %>
    <%= link_to prototype.user.name, user_path(prototype.user) %> <!-- 投稿者のユーザー詳細ページへのリンク -->
  <% else %>
    不明 <!-- 投稿者がいない場合の処理 -->
  <% end %>
</p>
            <!-- 必要に応じて他のプロトタイプ情報を追加 -->
          </div>
        <% end %>
      </div>

      <% if user_signed_in? %>  <!-- ログインしている場合にコメント投稿フォームを表示 -->
      
           <%= form_with(model: [ @user, @comment ], local: true) do |f| %>  <!-- コメントフォーム -->
            <div class="field">
              
            </div>
          <% end %>
        </div>
      <% else %>  <!-- ログインしていない場合のメッセージ -->
        <p>ログインしてコメントを投稿できます。</p>
      <% end %>
    </div>
  </div>
</div>